<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
	<head>
		<div th:replace="~{fragment :: meta}"></div>   
              
		<div th:replace="~{fragment :: styles}"></div>
         
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
           
		<title>店舗詳細</title>   
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
             
			<main>
				<div class="container pt-4 pb-5 nagoyameshi-container">
					<div class="row justify-content-center">
						<div class="col-xxl-9 col-xl-10 col-lg-11">
							<!-- パンくずリスト -->
							<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb mb-0">                        
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
									<li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
								</ol>
							</nav>
                             
							<!-- お気に入りセクション -->
							<div class="d-flex justify-content-end">
								<div sec:authorize="hasRole('ROLE_SUBSCRIPTION')">
									<div th:unless="${favorite==null}">
										<a href="#" onclick="event.preventDefault(); document.getElementById('favoriteDelete').submit();">&#9829; お気に入り解除</a>
										<form method="post" th:action="@{/stores/__${store.getId()}__/favorites/__${favorite.getId()}__/delete}" id="favoriteDelete" class="d-none"></form>                                        
									</div>
									<div th:if="${favorite==null}">
										<a href="#" onclick="event.preventDefault(); document.getElementById('favoriteCreate').submit();">&#9825; お気に入り追加</a>
										<form method="post" th:action="@{/stores/__${store.getId()}__/favorites/create}" id="favoriteCreate" class="d-none"></form>                                          
									</div>
								</div>                            
							</div>
                            
                            <!-- 店舗名 --> 
							<h1 class="mb-4 text-center" th:text="${store.getName()}"></h1>                                                           
                            
                            <!-- メッセージの表示 --> 
							<div th:if="${successMessage}" class="alert alert-info">
								<span th:text="${successMessage}"></span>
							</div>   
                            
							<div th:if="${errorMessage}" class="alert alert-danger">
								<span th:text="${errorMessage}"></span>
							</div>                                                                         
                             
                            <!-- 店舗情報 --> 
							<div class="mb-4">
								<img th:if="${store.getImageName()}" th:src="@{/storage/__${store.getImageName()}__}" class="w-100" alt="店舗画像">
								<img th:unless="${store.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
							</div> 
                             
							<div class="container">  
								<div class="row">
									<div class="col-lg-8 container mb-4">            
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">店舗名</span>
											</div>
                     
											<div class="col">
												<span th:text="${store.getName()}"></span>
											</div>
										</div>                    
                     
										<div class="row pb-2 mb-2 border-bottom align-items-center">
											<div class="col-4">
												<span class="fw-bold">カテゴリ</span>
											</div>
	             
											<div class="col nagoyameshi-select-view">
												<a th:each="category : ${categories}" th:text="${category.getName()}" th:href="@{/stores/seachCategory?seachCategoryId=__${category.getId()}__}" class="nagoyameshi-category-badge"></a>
											</div>
										</div>   
                     
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">説明</span>
											</div>
                     
											<div class="col">
												<span class="nagoyameshi-pre-wrap" th:text="${store.getDescription()}"></span>
											</div>
										</div>
                             
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">営業時間</span>
											</div>
             
											<div class="col">
												<span id="openHour" th:text="${store.getOpenHour()}"></span>
												<span>～</span>
												<span id="closedHour" th:text="${store.getClosedHour()}"></span>
											</div>
										</div>
                                
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">定休日</span>
											</div>
             
											<div class="col">
												<span th:text="${store.getHoliday()}"></span>
											</div>
										</div>
                                         
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">価格帯</span>
											</div>
             
											<div class="col">
												<span th:text="${strMinPrice}"></span>
												<span>～</span>
												<span th:text="${strMaxPrice}"></span>
												<span>円</span>
   											</div>
										</div> 
                                         
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">席数</span>
											</div>
                     
											<div class="col">
												<span th:text="${store.getCapacity() + '席'}"></span>
											</div>
										</div>                                
                                         
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">郵便番号</span>
											</div>
                     
											<div class="col">
												<span th:text="${store.getPostalCode()}"></span>
											</div>
										</div>   
                                         
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">住所</span>
											</div>
                     
											<div class="col">
												<span th:text="${store.getAddress()}"></span>
											</div>
										</div>   
                                         
										<div class="row pb-2 mb-2 border-bottom">
											<div class="col-4">
												<span class="fw-bold">電話番号</span>
											</div>
                     
											<div class="col">
												<span th:text="${store.getPhoneNumber()}"></span>
											</div>
										</div>                                
									</div>
                                    
                                    <!-- 予約フォーム -->
                                    <!-- 無料会員の場合 -->
									<div sec:authorize="hasRole('ROLE_GENERAL')" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
										<div class="card">
											<div class="card-body">                                                                                                                                                                                                                     
												<p class="card-text">予約するには有料会員への<a th:href="@{/subscription/register}">アップグレード</a>が必要です。</p>                                                                                                                                            
												<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" disabled>予約する</button>                                                                                                                
											</div>
										</div>  
									</div>
                                    <!-- 未ログインの場合 -->
									<div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
										<div class="card">
											<div class="card-body">                                                                                                                                                                                                                     
												<p class="card-text">予約するには有料会員の<a th:href="@{/login}">ログイン</a>が必要です。</p>                                                                                                                                            
												<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" disabled>予約する</button>                                                                                                                
											</div>
										</div>  
									</div>
									<!-- 有料会員の場合 -->
									<div sec:authorize="hasRole('ROLE_SUBSCRIPTION')" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
										<div class="card">
											<div class="card-body"> 
												<form method="post" th:action="@{/stores/__${store.getId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
													<div class="form-group mb-2">                                            
														<label for="reserveDateTime" class="col-form-label text-md-left fw-bold">予約日時</label>    
														<div th:if="${#fields.hasErrors('reserveDateTime')}" class="text-danger small mb-2" th:errors="*{reserveDateTime}"></div>                                          
														<input type="datetime-local" id="reserveDateTime" name="reserveDateTime" class="form-control" th:field="*{reserveDateTime}">                                                                     
													</div>
                                                     
													<div class="form-group mb-4">                                            
														<label for="numberOfPeople" class="col-form-label text-md-left fw-bold">人数</label>  
														<div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
														<input type="number" id="numberOfPeople" name="numberOfPeople" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
													</div>
                                                                                                         
													<div class="form-group">
														<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
													</div>
												</form>                                                                     
											</div>
										</div>  
									</div>                                                                                                                                                                                                                                                                                                             
								</div>                                                                                             
							</div>
                                                  
							<!-- レビューセクション -->
							<div class="container px-0">
								<h2 class="mb-4 text-center">レビュー</h2>
								<!-- 有料会員の場合 -->
								<div sec:authorize="hasRole('ROLE_SUBSCRIPTION')" th:if="${myReview==null}" class="row justify-content-center mb-4">
									<div class="col-lg-4">
										<a th:href="@{/stores/__${store.getId()}__/reviews/register}" class="btn text-white shadow-sm w-100 nagoyameshi-btn">レビューを投稿する</a>
									</div>
								</div>
								<!-- 全ユーザー共通 -->
								<div th:if="${#lists.isEmpty(newReviews)}" class="mb-4">                                    
									<p class="text-center">まだレビューがありません。</p>                                    
								</div>                                                                 
								<div th:unless="${#lists.isEmpty(newReviews)}">
									<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
										<div th:each="reviews : ${newReviews}">
											<div class="col">
												<div class="card">
													<div class="card-body">
														<div class="d-flex justify-content-between">
															<h5 class="card-title" th:text="${reviews.getUser().getName()}"></h5>
															<span sec:authorize="hasRole('ROLE_SUBSCRIPTION')" th:if="${#authentication.principal.user.id == reviews.getUser().getId()}">
																<a th:href="@{/stores/__${store.getId()}__/reviews/__${reviews.getId()}__/edit}" class="me-2">編集</a>
																<a href="#" class="nagoyameshi-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + reviews.getId()}">削除</a>
																
																<!-- 削除用モーダル -->
																<div class="modal fade" th:id="${'deleteReviewModal' + reviews.getId()}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + reviews.getId()}">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title" th:id="${'deleteReviewModalLabel' + reviews.getId()}" th:text="${store.getName() + 'のレビューを削除してもよろしいですか？'}"></h5>
																				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
																			</div>
																			<div class="modal-footer">
																				<form method="post"th:action="@{/stores/__${store.getId()}__/reviews/__${reviews.getId()}__/delete}">
																					<button type="submit" class="btn nagoyameshi-btn-danger text-white shadow-sm">削除</button>
																				</form>
																			</div>
																		</div>
																	</div>
																</div>                                                                                                            
															</span>      
														</div>                                              
														<p class="card-text mb-1">
															<span class="nagoyameshi-star" th:if=${reviews.getScore()==0}>&#9734;&#9734;&#9734;&#9734;&#9734;</span>
															<span class="nagoyameshi-star" th:if=${reviews.getScore()==1}>&#9733;&#9734;&#9734;&#9734;&#9734;</span>
															<span class="nagoyameshi-star" th:if=${reviews.getScore()==2}>&#9733;&#9733;&#9734;&#9734;&#9734;</span>
															<span class="nagoyameshi-star" th:if=${reviews.getScore()==3}>&#9733;&#9733;&#9733;&#9734;&#9734;</span>
															<span class="nagoyameshi-star" th:if=${reviews.getScore()==4}>&#9733;&#9733;&#9733;&#9733;&#9734;</span>
															<span class="nagoyameshi-star" th:if=${reviews.getScore()==5}>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
														</p>                      
														<p class="card-text"><small class="text-muted" th:text="${#dates.format(reviews.getCreatedAt(), 'yyyy年MM月dd日')}"></small></p>                              
														<p class="card-text" th:text="${reviews.getComment()}"></p>
													</div>
												</div>
											</div>
										</div>                                     
									</div>   
									<div class="text-center mb-4">
										<a th:href="@{/stores/__${store.getId()}__/reviews}">すべてのレビューを見る</a>
									</div>  
								</div>                                                          
							</div>                              
						</div>
					</div>
				</div>
			</main>
             
			<!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>    
         
		<div th:replace="~{fragment :: scripts}"></div>  
        
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
		<script th:src="@{/js/datetimepickr.js}"></script>  
	</body>
</html>